@use './_utils/variables' as *;
@use './_utils/mixins';

.page {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    box-sizing: border-box;
    padding: 2% 0;
    background: #f9f7f4;
    &__todo {
        margin: 0 auto;
    }
}

// рабочая область
.wrapper {
    width: 98%;
    max-width: 1800px;
}
