@use './_utils/variables' as *;
@use './_utils/mixins';

.page {
    height: 100%;
}

.body {
    height: 100%;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    padding: 2% 0;
    background: #f9f7f4;
    &__todo {
        width: 98%;
        margin: 0 auto;
        max-width: 1800px;
    }
}
