@use './_utils/variables' as *;
@use './_utils/mixins';

// кнопка
.button {
    background-color: #ffffff;
    border: 1px solid $gray-light;
    transition: background-color 0.2s ease, filter 0.2s ease, opacity 0.4s ease;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include mixins.user-select(none);
    &:hover {
        background-color: $yellow;
        cursor: pointer;
    }
    &:active {
        cursor: pointer;
        background-color: #f8e6be;
    }
    &_disabled {
        filter: grayscale(50%) saturate(0.5);
        pointer-events: none;
        opacity: 0.5;
        &:hover {
            background-color: none;
            cursor: auto;
        }
    }
    &__image {
        width: 1rem;
        height: auto;
    }

    // кнопка-иконка
    &_icon {
        border: none;
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        opacity: 0.5;
        &:hover {
            opacity: 1;
            background-color: transparent;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(29%) sepia(42%)
                saturate(2158%) hue-rotate(350deg) brightness(89%) contrast(97%);
        }
        &:active {
            background-color: transparent;
            filter: brightness(0) saturate(100%) invert(51%) sepia(49%)
                saturate(527%) hue-rotate(333deg) brightness(87%) contrast(89%);
        }
        .button__image {
            width: 24px;
            display: inline-block;
        }
    }
}

// чекбокс
.checkbox {
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @include mixins.user-select(none);
    position: relative;
    @include mixins.appearance-none;
    background-color: $blue;
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 4px;
    transition: all 0.2s ease;
    &:hover {
        background-color: #9e8706;
        cursor: pointer;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/images/ic-check-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        transition: all 0.2s ease;
        opacity: 0;
    }
    &:checked::before {
        opacity: 1;
    }

    // круглый чекбокс
    &_circular {
        width: 24px;
        height: 24px;
        opacity: 1;
        border-radius: 50%;
        border: 1px solid $gray-light;
        background-color: transparent;
        &:hover {
            background-color: transparent;
            @include mixins.box-shadow(0px 0px 5px 1px rgba(191, 164, 24, 0.7));
        }
        &::before {
            background-size: 18px;
        }
        &:checked {
            border-color: #11a66a;
            background-color: #11a66a;
        }
    }
}

// радиокнопки
.radio-button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    &_green {
        .radio-button__text {
            color: $green;
        }
    }
    &_yellow {
        .radio-button__text {
            color: $yellow-dark;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin: 0;
        pointer-events: none;
    }
    &__text {
        color: $blue-dark;
        margin: 0;
        text-align: end;
        font-weight: bold;
        pointer-events: none;
    }
    &__progress {
        pointer-events: none;
    }
    @media (max-width: 750px) {
        .radio-button__text,
        .progress {
            display: none;
        }
        .radio-button__title {
            flex-direction: column;
            text-align: center;
        }
        .radio-button__number {
            color: $blue-dark;
            font-weight: bolder;
        }
        &_green {
            .radio-button__number {
                color: $green;
            }
        }
        &_yellow {
            .radio-button__number {
                color: $yellow-dark;
            }
        }
    }
}

// поле ввода
.input {
    width: 100%;
    padding: 0.55rem 0.8rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease,
        box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease;
    @include mixins.box-shadow(none);
    &::placeholder {
        color: rgba(255, 255, 255, 0.788);
        font-style: italic;
    }
    &:hover {
        cursor: pointer;
        border-color: rgba(255, 255, 255, 0.8);
        @include mixins.box-shadow(0px 0px 5px 1px rgba(255, 255, 255, 0.7));
    }
    &:focus {
        border-color: rgba(255, 255, 255, 0.8);
        @include mixins.box-shadow(0px 0px 5px 1px rgba(255, 255, 255, 0.7));
        outline: none;
    }

    &_transparent {
        border-color: transparent;
        color: $black;
        &:hover {
            cursor: auto;
            border-color: transparent;
            @include mixins.box-shadow(none);
        }
        &:focus {
            border-color: rgba(48, 160, 251, 0.7);
            @include mixins.box-shadow(0px 0px 5px 1px rgba(48, 160, 251, 0.7));
        }
    }
}
