@use './_utils/variables' as *;
@use './_utils/mixins';

.list {
    margin: 0;
    list-style-type: none;
    padding: 0.5rem;
    box-sizing: border-box;

    // пункт списка
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(177, 177, 177, 0.5);
        &_checked {
            .list__text {
                text-decoration: line-through;
            }
        }

        &_hover {
            .list__button {
                opacity: 0.5;
                pointer-events: all;
            }
            .list__text {
                pointer-events: all;
            }
        }
        @media (hover: hover) {
            &:hover {
                .list__button {
                    opacity: 0.5;
                    pointer-events: all;
                }
                .list__text {
                    pointer-events: all;
                }
            }
        }

        &_edit {
            .list__button {
                opacity: 0;
                pointer-events: none;
            }
            .checkbox {
                display: none;
            }
            .list__text {
                word-wrap: break-word;
                text-decoration: none;
                pointer-events: all;
            }
            &:hover {
                .list__button {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        // пункт с информацией
        &_info {
            text-align: center;
            font-style: italic;
            justify-content: center;
            border-bottom: none;
            box-sizing: border-box;
        }

        &_last {
            border-bottom: none;
        }
    }

    // текст пункта
    &__text {
        pointer-events: none;
        flex: 1;
        overflow: hidden;
    }

    // кнопка удалить
    &__button {
        position: absolute;
        right: 0;
        opacity: 0;
        pointer-events: none;
    }
}
