/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/sass/main.scss ***!
  \*****************************************************************************************************************************************/
@charset "UTF-8";
/*
Расчет значения свойства на промежуточных экранах
- $min: значение свойства на минимальном размере экрана
- $max: значение свойства на максимальном размере экрана
- $screen-min: минимальный размер экрана
- $screen-max: максимальный размер экрана
*/
/*
Установка адаптивного свойства
- $property: свойство
- $min: значение свойства на минимальном размере экрана
- $max: значение свойства на максимальном размере экрана
- $screen-min: минимальный размер экрана
- $screen-max: максимальный размер экрана
*/
/*
Отключение стандартного оформления
*/
/*
Установка тени к элементу
- $value: значение
*/
.button-icon {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.button-icon__image {
  width: 35px;
  height: auto;
}
.button-icon:hover {
  opacity: 1;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(29%) sepia(42%) saturate(2158%) hue-rotate(350deg) brightness(89%) contrast(97%);
}
.button-icon:active {
  filter: brightness(0) saturate(100%) invert(51%) sepia(49%) saturate(527%) hue-rotate(333deg) brightness(87%) contrast(89%);
}
.button-icon_small .button-icon__image {
  width: 32px;
}
.button-icon_grey {
  opacity: 0.5;
}

.radio-buttons {
  display: flex;
  align-items: center;
}
.radio-buttons__input {
  display: none;
}
.radio-buttons__input:checked + .radio-buttons__text {
  color: #ff7134;
  text-decoration-line: underline;
}
.radio-buttons__text {
  cursor: pointer;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.radio-buttons__text:hover {
  text-decoration-line: underline;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0.8;
  margin: 0;
  width: 28px;
  height: 28px;
  border: 2px solid #1b1f2b;
  border-radius: 4px;
}
.checkbox:hover {
  cursor: pointer;
}
.checkbox:checked {
  background-image: url("/src/assets/images/ic-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}
.checkbox_circular {
  opacity: 1;
  border-radius: 50%;
  border-color: #11a66a;
}
.checkbox_circular:checked {
  background-color: #11a66a;
  background-image: url("/src/assets/images/ic-check-white.svg");
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  overflow: auto;
}
.list__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(177, 177, 177, 0.5);
}
.list__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.list__item:first-child, .list__item:nth-child(2) {
  padding-top: 0;
}
.list__item_checked .list__text {
  text-decoration: line-through;
}
.list__item:hover .list__button, .list__item_hover .list__button {
  display: inline-block;
}
.list__item:hover .list__text, .list__item_hover .list__text {
  pointer-events: all;
}
.list__item_edit .list__button {
  display: none;
}
.list__item_edit .checkbox {
  display: none;
}
.list__item_edit .list__text {
  text-decoration: none;
  pointer-events: all;
}
.list__item_edit:hover .list__button {
  display: none;
}
.list__item_info {
  text-align: center;
  font-style: italic;
  justify-content: center;
}
.list__text {
  pointer-events: none;
  flex: 1;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
}
.list__text:focus {
  border-color: rgba(48, 160, 251, 0.7);
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
  -moz-box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
  box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
}
.list__button {
  position: absolute;
  right: -7px;
  display: none;
}

.todo__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
  border-radius: 2px;
  background-color: #ffffff;
  max-height: calc(100% - 5.3333333333vw);
  margin-top: 5.3333333333vw;
}
@media (min-width: 460px) {
  .todo__inner {
    max-height: calc(100% - 24.3333333333px);
    margin-top: 24.3333333333px;
  }
}
.todo__inner::before {
  content: "";
  position: absolute;
  top: -5.3333333333vw;
  left: 1.5rem;
  height: 16vw;
  max-height: 73px;
  width: 16vw;
  max-width: 73px;
  background-size: 75%;
  background-color: #42aaff;
  background-image: url("assets/images/ic-list.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
@media (min-width: 460px) {
  .todo__inner::before {
    top: -24.3333333333px;
  }
}
.todo__header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid #b1b1b1;
}
.todo__title {
  text-align: center;
  margin: 0 0 5px 0;
}
.todo__text {
  margin: 0;
}
.todo__input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #b3b5b6;
}
.todo__input::placeholder {
  color: #a6a6a6;
  font-style: italic;
}
.todo__input:hover {
  cursor: pointer;
  border-color: rgba(48, 160, 251, 0.7);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
  -moz-box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
  box-shadow: 0px 0px 5px 1px rgba(48, 160, 251, 0.7);
}
.todo__input:focus {
  background-color: rgba(85, 143, 190, 0.1);
  border-color: rgba(48, 160, 251, 0.7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.todo__controls {
  display: none;
  justify-content: space-between;
}
.todo__buttons {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.todo__button-delete {
  display: none;
}
.todo__radio-buttons {
  gap: 0.7rem;
}
.todo__list {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 1024px) {
  .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 361px) {
  .text {
    font-size: calc(16px + 0.0060240964 * (100vw - 360px));
  }
}
@media (max-width: 360px) {
  .text {
    font-size: 16px;
  }
}
.text {
  line-height: 142%;
  font-family: "Roboto", "Arial", sans-serif;
  color: #1b1f2b;
  font-optical-sizing: auto;
}
.text_title {
  font-size: 1.728rem;
  line-height: 122%;
}
.text_small {
  font-size: 0.8333333333rem;
}
.text_blue {
  color: #1564a6;
}
.text_gray {
  color: #a6a6a6;
}
.text_bold {
  font-weight: bold;
}

.page {
  height: 100%;
}

.body {
  height: 100%;
  display: flex;
  margin: 0;
  box-sizing: border-box;
  padding: 2% 0;
  background: #f9f7f4;
}
.body__todo {
  width: 98%;
  margin: 0 auto;
  max-width: 1800px;
}
