// размеры экранов
$screen-s: 360;
$screen-m: 1024;
$screen-l: 1920;
$screen-m-px: #{$screen-m}px;
$screen-l-px: #{$screen-l}px;

// цвета
$gray: #a6a6a6;
$gray-light: #b1b1b1;
$black: #1b1f2b;
$blue: #42aaff;
$blue-dark: #0078d4;
$yellow: #e4c418;
$yellow-dark: #bfa418;
$green: #0d8454;
